{% extends 'base.html' %}
{% block tittle %}Home Page{% endblock %}
{% block nav %}
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:create_page' %}">Create Task</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'partial/task_search.html' %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% if tasks %}
    {% for task in tasks %}
        <div class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
            <div class="card-header"><a href="{% url 'webapp:view_page' task.pk %}" class="text-white">Задача №: {{ task.pk }}</a></div>
            <div class="card-body">
                    <h5 class="card-title">{{ task.summary }}</h5>
            <p class="card-text">{{ task.description }}</p>
                {% if perms.webapp.delete_task and user in task.project.users.all%}<a href="{% url 'webapp:delete_page' task.pk %}" class="text-white">Удалить задачу</a>{% endif %}
            {% if perms.webapp.change_task and user in task.project.users.all%}<a href="{% url 'webapp:update_page' task.pk %}" class="text-white">Редактировать задачу</a>{% endif %}
            </div>
        </div>
    {% endfor %}
        {% else %}
        <h1>Нет задач</h1>
    {% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}