{% extends 'base.html' %}

{% block title %}Project {{ project.pk }}{% endblock %}
{% block nav %}
    {% if perms.webapp.add_task and user in project.users.all%}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:project_task_create" project.pk %}">Добавить задачу в проект</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

<div class="text-center mb-5 mt-3">
    <h2>Название проекта {{ project.title }}</h2>
    <h3>Описание проекта {{ project.description }}</h3>
    <p>Дата начала проекта {{ project.date_start }}</p>
    {% if project.date_end %}
    <p>Дедлайн данного проекта{{ project.date_end }}</p>
    {% endif %}
    {% if perms.accounts.view_profile %}
    <p>Над проектом работают: {% for name in users %} <a href="{% url 'accounts:profile' name.id %}">{{ name.username }}</a> , {% endfor %}</p>
    {% else %}
    <p>Над проектом работают: {% for name in users %}{{ name.username }}, {% endfor %}</p>
    {% endif %}
    {% if perms.webapp.change_project and user in project.users.all %}

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Редактировать пользователей
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Добавьте или удалите пользователей</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% include 'partial/form.html'  with button_text='Применить'%}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% if user in project.users.all %}
    {% if tasks %}
        <h2 class="text-center">Задачи данного проекта:</h2>
            <div class="container">
                {% for task in tasks %}
                    <div class="card mt-5">
                        <div class="card-header">
                            <a href="{% url 'webapp:view_page' task.pk %}">Главное описание задачи: {{ task.summary }}</a>
                     </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Подробное описание задачи: {{ task.description }}</p>
                            <p>Статус задачи {{ task.status }}</p>
                            <p>Тип задачи{% for type in task.types.all %}
                                {{ type }}{% if not forloop.last %}, {% else %}. {% endif %}
                            {% endfor %}</p>
                            <footer class="">Время создания: {{ task.created_at }}<br>Время обновления {{ task.updated_at }}</footer>
                        </blockquote>
                        {% if perms.webapp.delete_task and user in project.users.all%}<a href="{% url 'webapp:delete_page' task.pk  %} " class="btn btn-secondary mt-3">Удалить задачу</a>{% endif %}
                        {% if perms.webapp.change_task and user in project.users.all%}<a href="{% url 'webapp:update_page' task.pk  %} " class="btn btn-secondary mt-3">Отредактировать задачу</a>{% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <h2 class="text-center">Задач у этого проекта нет</h2>
                {% endif %}
            </div>
        {% else %}
            <h1 class="text-center">У вас нет доступа к этому проекту</h1>
    {% endif %}
        {% else %}
        <h1>Авторизуйтесь</h1>
{% endif %}
{% endblock %}
