{% load static %}
{#{% load staticfiles %}#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Регистрация</title>
</head>
<body>
<div class="container">
    <h1>Регистрация</h1>
    <form method="post">
            {% include 'partial/form.html' with button_text='Зарегистрироваться'  %}
    </form>
</div>
</body>
</html>